body {
    margin: 0;
    height: 100vh;
    width: 100vw;
    display: grid;
    grid-template-columns: 1fr minmax(1100px ,7fr) 1fr;
    grid-template-rows: 2fr 14fr 1fr;
}


.header {
    grid-area: 1 / 1 / 2 / -1;
    display: flex;
    gap: 20px;
    align-items: center;
    justify-content: center;
}

.header > img {
    height: 50%;
}

.header > div {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.header > div > h1, p {
    margin: 0;
}
.header > div > h1 {
    font-size: 4vh;
}
.header > div > p {
    font-size: 2vh;
}

.plussign {
    max-width: 25%;
    max-height: 25%;
    align-self: center;
    justify-self: center;
    cursor: pointer;
}

.plussign:hover {
    /*Credit: https://codepen.io/sosuke/pen/Pjoqqp*/
    filter: invert(42%) sepia(0%) saturate(0%) hue-rotate(18deg) brightness(97%) contrast(95%);

}

.main-content {
    padding: 40px 100px;
    grid-area: 2 / 2 / 3 / 3;
    display: grid;
    justify-items: start;
    gap: 60px;
    grid-template-columns: repeat(auto-fit, minmax(350px, 380px));
    grid-auto-rows: 330px;
}

#closeform {
    align-self: end;
    cursor: pointer;
}

#closeform:hover {
    /*Credit: https://codepen.io/sosuke/pen/Pjoqqp*/
    filter: invert(20%) sepia(85%) saturate(6621%) hue-rotate(356deg) brightness(103%) contrast(117%);
}

.main-content > div > form {
    display: flex;
    flex-direction: column;
    padding: 20px;
}

label {
    font-size: 20px;
    margin-bottom: 5px;
}

input {
    border-radius: 15px;
    padding: 5px;
}

h2 {
    text-align: center;
}

.main-content > div {
    border: solid;
    height: 100%;
    width: 100%;
    border-radius: 15px;
    background-color: rgb(30, 173, 255);
}

.main-content > .bookcard {
    display: grid;
    grid-template-rows: 1fr 8fr;
}

.main-content > .bookcard > .cardheader {
    
    display: flex;
    padding: 10px;
    justify-content: space-between;
}

.main-content > .bookcard > .cardtext {
    display: flex;
    flex-direction: column;
    padding: 10px;
}

.main-content > .bookcard > .cardtext > p {
    font-size: 18px;
    line-height: 26px;
}

.main-content > .bookcard > div > img {
    width: 8%;
    cursor: pointer;
}

.footer {
    grid-area: 3 / 1 / 4 / -1;
    display: flex;
    align-items: center;
    justify-content: center;
}
